<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaee.testmybatis.mapper.GoodsMapper">
    <sql id="Orders_List">

    </sql>

    <select id="selectOrderById" parameterType="Integer" resultType="OrderPo">
        SELECT
        <include refid="Orders_List"/>
        FROM orders
        WHERE id = #{id}
    </select>




</mapper>

